.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.admin-login h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.admin-login form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.admin-login input[type="text"],
.admin-login input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-login button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-login button:hover {
    background-color: #4cae4c;
}